In [1]:
import numpy as np
import pandas as pd

In [3]:
train_df = pd.read_csv("train_df_wo.csv")

In [5]:
train_df.head()

,Customer_ID,Discount,First_txn_days,Gender,Geo_Field,Income_Range,Invoices,Item_Count,Job_Type,Language,...,Region_Code,Revenue,Sales_Per_Day,State,Store_Code,Store_Format,Store_Size_Sq_Ft,Week,Year,isMall
0,1800000006365760,56.0,2956.0,1,8,4,5,38,13,1,...,1,1117.0,1699.560982,0,60067,0,8673.534535,110,8066,1.0
1,1800000006365760,56.0,2956.0,1,5,4,5,38,13,1,...,1,1117.0,2101.072259,0,60054,0,12425.516106,110,8066,1.0
2,1800000006365760,56.0,2956.0,1,20,4,5,38,13,1,...,0,1117.0,1331.402147,0,60066,0,15897.142270,110,8066,1.0
3,1800000006365760,56.0,2956.0,1,6,4,5,38,13,1,...,1,1117.0,1813.094697,0,60069,0,6698.117964,110,8066,1.0
4,1800000006365760,56.0,2956.0,1,3,4,5,38,13,1,...,1,1117.0,1193.119529,0,60079,1,3699.470014,110,8066,1.0

In [ ]:
test_df = pd.read_csv("test_df.csv")

In [ ]:
test_df.head()

In [6]:
# test_df = train_df[train_df.Store_Code.isin(['60075', '60250', '60077', '60079' ])]

In [7]:
# train_df.drop(train_df[train_df.Store_Code.isin(['60075', '60250', '60077', '60079' ])].index, axis=0, inplace=True)

In [31]:
# dropping customer id and Store Code
train_df.drop(['Customer_ID', 'Store_Code'], axis=1, inplace=True)
test_df.drop(['Customer_ID', 'Store_Code'], axis=1, inplace=True)

/home/vivekviswambharan/anaconda3/envs/3point6/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [32]:
X_train =train_df.drop('Prediction', axis=1) 
y_train = train_df['Prediction']
X_test = test_df.drop('Prediction', axis=1) 
y_test = test_df['Prediction']

In [37]:
X_train.count()

First_txn_days        3100000
Gender                3100000
Income_Range          3100000
Job_Type              3100000
Language              3100000
Last_accr_txn_days    3100000
Last_rdm_txn_days     3100000
Loyalty_Status        3100000
Marital_Status        3100000
Nationality           3100000
Points                3100000
Region                3100000
Region_Code           3100000
Sales_Per_Day         3100000
State                 3100000
Store_Format          3100000
Store_Size_Sq_Ft      3100000
dtype: int64

# RANDOM FOREST

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
feature_names = train_df.columns[:-1] 
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
clf = RandomForestClassifier( random_state=13, class_weight="balanced", max_depth=10, n_estimators=150)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
feature_imp = pd.Series(clf.feature_importances_,index=feature_names).sort_values(ascending=False)
feature_imp

In [ ]:
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.metrics import confusion_matrix
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
# prediction on test set
y_pred=clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_pred, y_test))
conf_mat = confusion_matrix(y_test, y_pred)
print(conf_mat)
auc_roc = roc_auc_score(y_test, y_pred)
print(auc_roc)